<template>
    <!-- Wrapper -->
    <div id="wrapper">

        <div class="vertical-align-wrap">
			<div class="vertical-align-middle">
				<div class="auth-box ">
					<div class="center">
						<div class="content">
							<div class="header">
								<div class="logo text-center">
                                    <img src="assets/img/logo-adira.png" alt="Adira Logo" class="img-responsive logo">
                                </div>
							</div>
                            <div v-cloak v-show="errors.length > 0" class="alert alert-danger alert-dismissible" role="alert">
                                <button @click="errors = []" type="button" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>

                                <!-- <strong>Data tidak lengkap!</strong> mohon isi data-data berikut.
                                <br> -->
                                <ul style="margin: 0;">
                                    <li v-html="error" v-for="error in errors" :key="error"></li>
                                </ul>
                            </div>
							<!-- <form v-on:submit="saveForm"> -->
								<div class="form-group">
									<input type="email" class="form-control" v-model="email" placeholder="Email">
								</div>
								<div class="form-group">
									<input type="password" class="form-control" v-model="password" placeholder="Password">
								</div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h3>{{ random_string_view }}</h3>
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn btn-primary" @click="buttonRefresh">Refresh</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <!-- <div id="captcha" ref="myid"></div> -->
                                    <input type="text" class="form-control" v-model="confirm_random_text" placeholder="Captcha">
                                </div>
								<!-- <div class="form-group clearfix">
									<label class="fancy-checkbox element-left">
										<input type="checkbox">
										<span>Remember me</span>
									</label>
								</div> -->
								<button type="submit" class="btn btn-primary btn-lg btn-block" :disabled="disableButton" @click="saveForm">Login</button>
							<!-- </form> -->
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>

    </div>
    <!-- End Wrapper -->
</template>

<script>
	import axios from "axios";

    export default {
        name: 'Login',
        data () {
            return {
                email: '',
                password: '',
                disableButton: false,
                confirm_random_text: '',
                random_string_view: '',
                random_string: '',
                chars: '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ',
                i: 0,
                // theUrl: '',
                // captcha: [],
                // index: '',
                // canv: '',
                // ctx: '',
                // code: '',
                errors: []
            }
        },
        created() {
            this.randomText();
            // this.createCaptcha();
        },
        methods: {
            randomText() {
                for(this.i = 0; this.i < 8; this.i++) {
                    this.random_string += this.chars.charAt(Math.floor(Math.random() * this.chars.length));
                }
                for (this.i = 0; this.i < this.random_string.length; this.i++) {
                    this.random_string_view += this.random_string[this.i];
                    this.random_string_view += " ";
                }

                return this.random_string_view;
            },
            // createCaptcha() {
            //     //clear the contents of captcha div first
            //     for (this.i = 0; this.i < 8; this.i++) {
            //         //below code will not allow Repetition of Characters
            //         this.index = Math.floor(Math.random() * this.chars.length + 1); //get the next character from the array
            //         if (this.captcha.indexOf(this.chars[this.index]) == -1)
            //         this.captcha.push(this.chars[this.index]);
            //         else this.i--;
            //     }
            //     this.canv = document.createElement("canvas");
            //     this.canv.id = "captcha";
            //     this.canv.width = 100;
            //     this.canv.height = 50;
            //     this.ctx = this.canv.getContext("2d");
            //     this.ctx.font = "25px Georgia";
            //     this.ctx.strokeText(this.captcha.join(""), 0, 30);
            //     //storing captcha so that can validate you can save it somewhere else according to your specific requirements
            //     this.code = this.captcha.join("");
            //     document.getElementById("captcha").appendChild(this.canv); // adds the canvas to the body element
            // },
            buttonRefresh() {
                this.random_string = "";
                this.random_string_view = "";
                this.randomText();
            },
            saveForm: function(e) {
                e.preventDefault();
                this.errors = [];

                console.log(this.confirm_random_text);
                console.log(this.random_string);

                if (this.email == '') {
                    this.errors.push('Email required.');
                }
                if (this.password == '') {
                    this.errors.push('Password required.');
                }
                if (this.confirm_random_text != this.random_string) {
                    this.errors.push('Captcha tidak cocok.');
                    this.random_string = "";
                    this.random_string_view = "";
                    this.randomText();
                }
                if(this.errors.length > 0) {
                    return;
                }

                this.disableButton = true;

                axios
                .post('https://ad1ms2newdev.adira.co.id/api/account/authuser', {
                    email: this.email,
                    password: this.password
                })
                .then(response => {
                    if (response.data.result) {
                        // this.$swal({
                        //     icon: 'success',
                        //     title: 'Save',
                        //     text: 'You successfully save this data'
                        // })
                        // .then(() => {
                            localStorage.setItem('user_id', response.data.model.user_id);
                            localStorage.setItem('username', response.data.model.username);
                            localStorage.setItem('email', response.data.model.email);
                            this.$router.push('/dashboard')
                        // })
                    } else {
                        this.disableButton = false;
                        this.random_string = "";
                        this.random_string_view = "";
                        this.randomText();
                        this.$swal('Cancelled', 'Email or Password incorrect', 'info')
                    }
                })
            }
        }
    }
</script>

<style>
    .btn-primary {
        background-color: #fede00;
        border-color: #fede00;
        color: #2B333E;
        font-weight: bold;
        font-size: 16px;
    }

    .btn-primary:hover,
    .btn-primary:focus {
        background-color: #2B333E;
        border-color: #2B333E;
        color: #fede00;
    }
    input[type=text] {
        padding: 12px 20px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    button{
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 12px 30px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
    }
    canvas{
        /*prevent interaction with the canvas*/
        pointer-events:none;
    }
</style>