<template>
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Navbar -->
        <Navbar />
        <!-- End Navbar -->

        <!-- Left Sidebar -->
        <Sidebar />
        <!-- End Left Sidebar -->

        <!-- Main -->
        <div class="main">

            <!-- Main Content -->
            <div class="main-content">
                <div class="container-fluid">
                    <h3 class="page-title">Management User</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-headline">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Edit User</h3>
                                    <router-link to="/management-user" class="btn btn-secondary btn-sm pull-right">
                                        <i class="fa fa-arrow-left"></i>
                                        Back
                                    </router-link>
                                </div>
                                <div class="panel-body">
                                    <div v-cloak v-show="errors.length > 0" class="alert alert-danger alert-dismissible" role="alert">
                                        <button @click="errors = []" type="button" class="close" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>

                                        <strong>Data tidak lengkap!</strong> mohon isi data-data berikut.
                                        <br>
                                        <ul style="margin: 0;">
                                            <li v-html="error" v-for="error in errors" :key="error"></li>
                                        </ul>
                                    </div>
                                    <form v-on:submit="saveForm">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="control-label">
                                                            Job<span class="red-note">*</span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <select class="form-control" v-model="job_id">
                                                            <option v-for="dataJob in dataJobs" :key="dataJob.job_id" :value="dataJob.job_id">{{ dataJob.job_name }}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="control-label">
                                                            Username<span class="red-note">*</span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" v-model="username" placeholder="Input username here...">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="control-label">
                                                            Email<span class="red-note">*</span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input type="email" class="form-control" v-model="email" placeholder="Input email here...">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success btn-sm pull-right">
                                        <i class="fa fa-save"></i>
                                        Simpan
                                    </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Main Content -->

        </div>
        <!-- End Main -->

        <div class="clearfix"></div>

        <!-- Footer -->
        <Footer />
        <!-- End Footer -->

    </div>
    <!-- End Wrapper -->
</template>

<script>
    import Navbar from "@/components/Navbar.vue";
    import Sidebar from "@/components/Sidebar.vue";
    import Footer from "@/components/Footer.vue";
    import axios from "axios";

    export default {
        name: 'EditUser',
        components: {
            Navbar,
            Sidebar,
            Footer
        },
        data () {
            return {
                user_id: '',
                dataJobs: [],
                job_id: '',
                username: '',
                email: '',
                errors: []
            }
        },
        created() {
            this.loadDataUserLogin();

            this.loadData();
            this.loadDataJob();
        },
        mounted () {
            //
        },
        methods: {
            loadDataUserLogin() {
                this.user_id = localStorage.user_id;
            },
            loadData() {
                axios
                .get('http://localhost/ad1ms2_backend/public/api/userEdit/' + this.$route.params.id)
                .then(response => {
                    // post value yang dari response ke form
                    this.job_id = response.data.model.job_id,
                    this.username = response.data.model.username,
                    this.email = response.data.model.email
                })
            },
            loadDataJob() {
                axios
                .get('http://localhost/ad1ms2_backend/public/api/getJob')
                .then(response => this.dataJobs = response.data.model)
            },
            saveForm(e) {
                e.preventDefault();
                this.errors = [];

                if (this.username == '') {
                    this.errors.push('Username required.');
                }
                if (this.email == '') {
                    this.errors.push('Email required.');
                }
                if(this.errors.length > 0) {
                    return;
                }

                axios
                .post('http://localhost/ad1ms2_backend/public/api/userUpdate/' + this.$route.params.id, {
                    user_id: this.user_id,
                    job_id: this.job_id,
                    username: this.username,
                    email: this.email
                })
                .then(() => {
                    this.$swal({
                        icon: 'success',
                        title: 'Save',
                        text: 'You successfully save this data'
                    })
                    .then(() => {
                        this.$router.push('/management-user')
                    })
                })
            }
        }
    }
</script>