<template>
  <!-- Wrapper -->
  <div id="wrapper">
    <!-- Navbar -->
    <Navbar />
    <!-- End Navbar -->

    <!-- Left Sidebar -->
    <Sidebar />
    <!-- End Left Sidebar -->

    <!-- Main -->
    <div class="main">
      <!-- Main Content -->
      <div class="main-content">
        <div class="container-fluid">
          <h3 class="page-title">Employee Form</h3>

          <div class="row">
            <div class="panel panel-headline">
              <div class="panel-heading">
                <h3 class="panel-title">Mapping Employee</h3>
              </div>

              <div class="panel-body">
                <form v-on:submit="saveForm">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-3">
                            <label class="control-label">
                              DLC code
                              <span class="red-note">*</span>
                            </label>
                          </div>
                          <div class="col-md-9">
                            <input
                              type="text"
                              class="form-control"
                              v-model="parameter_name"
                              placeholder="Input NIK here..."
                            />
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-3">
                            <label class="control-label"></label>
                          </div>
                          <div class="col-md-9">
                            <button type="submit" class="btn btn-success btn-sm pull-right">
                              <i class="fa fa-find"></i>
                              cari
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-12">
                            <table
                              id="dtBasicExample"
                              class="table table-striped"
                              cellspacing="0"
                              width="100%"
                            >
                              <thead>
                                <tr>
                                  <th class="th-sm">No</th>
                                  <th class="th-sm">Dedicated</th>
                                  <th class="th-sm">NIK</th>
                                  <th class="th-sm">Employee Name</th>
                                  <th class="th-sm">Job Code</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>
                                    <input type="checkbox" />
                                  </td>
                                  <td>10083132</td>
                                  <td>Teguh Fathur Rahman</td>
                                  <td>CMO</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>
                                    <input type="checkbox" />
                                  </td>
                                  <td>10083132</td>
                                  <td>Teguh Fathur Rahman</td>
                                  <td>CMO</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-3">
                            <label class="control-label">
                              Remark
                              <span class="red-note">*</span>
                            </label>
                          </div>
                          <div class="col-md-9">
                            <input
                              type="text"
                              class="form-control"
                              v-model="remark"
                              placeholder="Input time traffic here..."
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-success btn-sm pull-right">
                    <i class="fa fa-save"></i>
                    Simpan
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Main Content -->
    </div>
    <!-- End Main Content -->

    <div class="clearfix"></div>

    <!-- Footer -->
    <Footer />
    <!-- End Footer -->
  </div>
  <!-- End Wrapper -->
</template>

<script>
import Navbar from "@/components/Navbar.vue";
import Sidebar from "@/components/Sidebar.vue";
import Footer from "@/components/Footer.vue";
export default {
  name: "ManajemenForm",
  components: {
    Navbar,
    Sidebar,
    Footer,
  },
};
</script>