<template>
  <!-- Wrapper -->
  <div id="wrapper">
    <!-- Navbar -->
    <Navbar />
    <!-- End Navbar -->

    <!-- Left Sidebar -->
    <Sidebar />
    <!-- End Left Sidebar -->

    <!-- Main -->
    <div class="main">
      <!-- Main Content -->
      <div class="main-content">
        <div class="container-fluid">
          <h3 class="page-title">Employee Form</h3>

          <div class="row">
            <div class="panel panel-headline">
              <div class="panel-heading">
                <h3 class="panel-title">Register Holiday</h3>
              </div>

              <div class="panel-body">
                <form v-on:submit="saveForm">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-3">
                            <label class="control-label">
                              Tanggal
                              <span class="red-note">*</span>
                            </label>
                          </div>
                          <div class="col-md-9">
                            <input
                              type="date"
                              class="form-control"
                              id="tholiday_tanggal"
                              placeholder
                              required
                                  v-model="tholiday_tanggal"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-3">
                            <label class="control-label">
                              Remark
                              <span class="red-note">*</span>
                            </label>
                          </div>
                          <div class="col-md-9">
                            <input
                              type="text"
                              class="form-control"
                              v-model="tremark"
                              placeholder="Input parameter name here..."
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-success btn-sm pull-right" @click="saveForm">
                    <i class="fa fa-save"></i>
                    Simpan
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Main Content -->
    </div>
    <!-- End Main Content -->

    <div class="clearfix"></div>

    <!-- Footer -->
    <Footer />
    <!-- End Footer -->
  </div>
  <!-- End Wrapper -->
</template>

<script>
    import Navbar from "@/components/Navbar.vue";
    import Sidebar from "@/components/Sidebar.vue";
    import Footer from "@/components/Footer.vue";
    import axios from "axios";

    export default {
        name: 'AddUser',
        components: {
            Navbar,
            Sidebar,
            Footer
        },
        data () {
            return {
                user_id: '',
                dataJobs: [],
                job: '',
                dedup: false,
                task_list: false,
                inbox: false,
                order_tracking: false,
                attendance: false,
                // username: '',
                // email: '',
                // password: '',
                // password_confirmation: '',
                errors: []
            }
        },
        created() {
            this.loadDataUserLogin();

            this.loadDataJob();
            // this.loadDataModule();
        },
        mounted () {
            //
        },
        methods: {
            loadDataUserLogin() {
                this.user_id = localStorage.user_id;
            },            
            // loadDataModule() {
            //     axios
            //     .get('http://localhost:82/ad1ms2_backend/public/api/getModules')
            //     .then(response => this.dataModules = response.data.model)
            // },
            saveForm(e) {
                e.preventDefault();
                this.errors = [];

                
                axios
                .post('https://ad1ms2newdev.adira.co.id/api/ilinksys/insert_holiday', {
                    P_HOLIDAY_DATE: this.tholiday_tanggal,
                    P_REMARK: this.tremark,
                    P_BRANCHID: this.branchid,
                    P_USERID: this.userid,
                })
                .then(response => {
                    if (response.data.result) {
                        this.$swal({
                            icon: 'success',
                            title: 'Save',
                            text: 'You successfully save this data'
                        })
                        .then(() => {
                            this.$router.push('/management-user')
                        })
                    } else {
                        this.$swal('Cancelled', 'Job has been added', 'info')
                    }
                })
            }
        }
    }
</script>
<script>
import Navbar from "@/components/Navbar.vue";
import Sidebar from "@/components/Sidebar.vue";
import Footer from "@/components/Footer.vue";
export default {
  name: "ManajemenForm",
  components: {
    Navbar,
    Sidebar,
    Footer,
  },
};
</script>