<template>
  <!-- Wrapper -->
  <div id="wrapper">
    <!-- Navbar -->
    <Navbar />
    <!-- End Navbar -->

    <!-- Left Sidebar -->
    <Sidebar />
    <!-- End Left Sidebar -->

    <!-- Main -->
    <div class="main">
      <!-- Main Content -->
      <div class="main-content">
        <div class="container-fluid">
          <h3 class="page-title">Employee Form</h3>

          <div class="row">
            <div class="panel panel-headline">
              <div class="panel-heading">
                <h3 class="panel-title">Register Employee</h3>
              </div>

              <div class="panel-body">
                <form v-on:submit="saveForm">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-3">
                            <label class="control-label">
                              NIK
                              <span class="red-note">*</span>
                            </label>
                          </div>
                          <div class="col-md-9">
                            <input
                              type="text"
                              class="form-control"
                              v-model="tnik"
                              placeholder="Input NIK here..."
                            />
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-3">
                            <label class="control-label"></label>
                          </div>
                          <div class="col-md-9">
                            <button type="submit" class="btn btn-success btn-sm pull-right">
                              <i class="fa fa-find"></i>
                              cari
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-3">
                            <label class="control-label">
                              Jenis Kredit
                              <span class="red-note">*</span>
                            </label>
                          </div>
                          <div class="col-md-9">
                            <select v-model="tjns_kredit" class="form-control">
                              <option disabled value>Please select one</option>
                              <option>Konvesional</option>
                              <option>Syariah</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-3">
                            <label class="control-label">
                              Product Utama
                              <span class="red-note">*</span>
                            </label>
                          </div>
                          <div class="col-md-9">
                            <select v-model="tjns_product_utama" class="form-control">
                              <option disabled value>Please select one</option>
                              <option>Motor</option>
                              <option>Mobil</option>
                              <option>Durable</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-3">
                            <label class="control-label">
                              Product Tambahan 1
                              <span class="red-note">*</span>
                            </label>
                          </div>
                          <div class="col-md-9">
                            <select v-model="tjns_product_tambahan_1" class="form-control">
                              <option disabled value>Please select one</option>
                              <option>Motor</option>
                              <option>Mobil</option>
                              <option>Durable</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-3">
                            <label class="control-label">
                              Product Tambahan 2
                              <span class="red-note">*</span>
                            </label>
                          </div>
                          <div class="col-md-9">
                            <select v-model="tjns_product_tambahan_2" class="form-control">
                              <option disabled value>Please select one</option>
                              <option>Motor</option>
                              <option>Mobil</option>
                              <option>Durable</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-3">
                            <label class="control-label">
                              Portofolio
                              <span class="red-note">*</span>
                            </label>
                          </div>
                          <div class="col-md-9">
                            <select v-model="tportofolio" class="form-control">
                              <option disabled value>Please select one</option>
                              <option>UMCY</option>
                              <option>NMCY HONDA</option>
                              <option>NMCY SUZUKI</option>
                              <option>NMCY YAMAHA</option>
                              <option>MULTIBRAND</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-3">
                            <label class="control-label">
                              Jam Kerja
                              <span class="red-note">*</span>
                            </label>
                          </div>
                          <div class="col-md-9">
                            <label></label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-3">
                            <label class="control-label">
                              Senin
                              <span class="red-note">*</span>
                            </label>
                          </div>
                          <div class="col-md-3">
                            <input
                              type="time"
                              id="default-picker"
                              class="form-control"
                              placeholder="Select time"
                              v-model="tsenin_1"
                            />
                          </div>
                          <div class="col-md-3">
                            <input
                              type="time"
                              id="default-picker"
                              class="form-control"
                              placeholder="Select time"
                              v-model="tsenin_2"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-3">
                            <label class="control-label">
                              Selasa
                              <span class="red-note">*</span>
                            </label>
                          </div>
                          <div class="col-md-3">
                            <input
                              type="time"
                              id="default-picker"
                              class="form-control"
                              placeholder="Select time"
                              v-model="tselasa_1"
                            />
                          </div>
                          <div class="col-md-3">
                            <input
                              type="time"
                              id="default-picker"
                              class="form-control"
                              placeholder="Select time"
                              v-model="tselasa_2"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-3">
                            <label class="control-label">
                              Rabu
                              <span class="red-note">*</span>
                            </label>
                          </div>
                          <div class="col-md-3">
                            <input
                              type="time"
                              id="default-picker"
                              class="form-control"
                              placeholder="Select time"
                              v-model="trabu_1"
                            />
                          </div>
                          <div class="col-md-3">
                            <input
                              type="time"
                              id="default-picker"
                              class="form-control"
                              placeholder="Select time"
                              v-model="trabu_2"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-3">
                            <label class="control-label">
                              Kamis
                              <span class="red-note">*</span>
                            </label>
                          </div>
                          <div class="col-md-3">
                            <input
                              type="time"
                              id="default-picker"
                              class="form-control"
                              placeholder="Select time"
                              v-model="tkamis_1"
                            />
                          </div>
                          <div class="col-md-3">
                            <input
                              type="time"
                              id="default-picker"
                              class="form-control"
                              placeholder="Select time"
                              v-model="tkamis_2"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-3">
                            <label class="control-label">
                              Jumat
                              <span class="red-note">*</span>
                            </label>
                          </div>
                          <div class="col-md-3">
                            <input
                              type="time"
                              id="default-picker"
                              class="form-control"
                              placeholder="Select time"
                              v-model="tjumat_1"
                            />
                          </div>
                          <div class="col-md-3">
                            <input
                              type="time"
                              id="default-picker"
                              class="form-control"
                              placeholder="Select time"
                              v-model="tjumat_2"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-3">
                            <label class="control-label">
                              Sabtu
                              <span class="red-note">*</span>
                            </label>
                          </div>
                          <div class="col-md-3">
                            <input
                              type="time"
                              id="default-picker"
                              class="form-control"
                              placeholder="Select time"
                              v-model="tsabtu_1"
                            />
                          </div>
                          <div class="col-md-3">
                            <input
                              type="time"
                              id="default-picker"
                              class="form-control"
                              placeholder="Select time"
                              v-model="tsabtu_2"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-success btn-sm pull-right">
                    <i class="fa fa-save"></i>
                    Simpan
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Main Content -->
    </div>
    <!-- End Main Content -->

    <div class="clearfix"></div>

    <!-- Footer -->
    <Footer />
    <!-- End Footer -->
  </div>
  <!-- End Wrapper -->
</template>

<script>
import Navbar from "@/components/Navbar.vue";
import Sidebar from "@/components/Sidebar.vue";
import Footer from "@/components/Footer.vue";
export default {
  name: "ManajemenForm",
  components: {
    Navbar,
    Sidebar,
    Footer,
  },
};
</script>