<template>
  <!-- Wrapper -->
  <div id="wrapper">
    <!-- Navbar -->
    <Navbar />
    <!-- End Navbar -->

    <!-- Left Sidebar -->
    <Sidebar />
    <!-- End Left Sidebar -->

    <!-- Main -->
    <div class="main">
      <!-- Main Content -->
      <div class="main-content">
        <div class="container-fluid">
          <h3 class="page-title">Employee Form</h3>

          <div class="row">
            <div class="panel panel-headline">
              <div class="panel-heading">
                <h3 class="panel-title">Employee Overtime</h3>
              </div>

              <div class="panel-body">
                <form v-on:submit="saveForm">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-3">
                            <label class="control-label">
                              NIK
                              <span class="red-note">*</span>
                            </label>
                          </div>
                          <div class="col-md-9">
                            <input
                              type="text"
                              class="form-control"
                              v-model="parameter_name"
                              placeholder="Input NIK name here..."
                            />
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-3">
                            <label class="control-label"></label>
                          </div>
                          <div class="col-md-9">
                            <button type="submit" class="btn btn-success btn-sm pull-right">
                              <i class="fa fa-find"></i>
                              cari
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-3">
                            <label class="control-label">
                              Tanggal Mulai
                              <span class="red-note">*</span>
                            </label>
                          </div>
                          <div class="col-md-9">
                            <input
                              type="text"
                              class="form-control"
                              v-model="parameter_name"
                              placeholder="Input Tanggal Mulai here..."
                            />
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-3">
                            <label class="control-label">
                              Tanggal Akhir
                              <span class="red-note">*</span>
                            </label>
                          </div>
                          <div class="col-md-9">
                            <input
                              type="text"
                              class="form-control"
                              v-model="parameter_name"
                              placeholder="Input Tanggal Akhir here..."
                            />
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-3">
                            <label class="control-label">
                              Jam kerja
                              <span class="red-note">*</span>
                            </label>
                          </div>
                          <div class="col-md-3">
                            <input
                              type="text"
                              class="form-control"
                              v-model="parameter_name"
                              placeholder="Input Jam Kerja here..."
                            />
                          </div>
                          <div class="col-md-3">
                            <input
                              type="text"
                              class="form-control"
                              v-model="parameter_name"
                              placeholder="Input Jam Kerja here..."
                            />
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-3">
                            <label class="control-label">
                              Remark
                              <span class="red-note">*</span>
                            </label>
                          </div>
                          <div class="col-md-9">
                            <input
                              type="text"
                              class="form-control"
                              v-model="parameter_name"
                              placeholder="Input parameter name here..."
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-success btn-sm pull-right">
                    <i class="fa fa-save"></i>
                    Submit
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Main Content -->
    </div>
    <!-- End Main Content -->

    <div class="clearfix"></div>

    <!-- Footer -->
    <Footer />
    <!-- End Footer -->
  </div>
  <!-- End Wrapper -->
</template>
<script>
	import axios from "axios";

    export default {
        name: 'Holiday Branch',
        data () {
            return {
                email: '',
                password: '',
                disableButton: false,
                confirm_random_text: '',
                random_string_view: '',
                random_string: '',
                chars: '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ',
                i: 0,
                // theUrl: '',
                // captcha: [],
                // index: '',
                // canv: '',
                // ctx: '',
                // code: '',
                errors: []
            }
        },
        created() {
            this.randomText();
            // this.createCaptcha();
        },
        methods: {
            randomText() {
                for(this.i = 0; this.i < 8; this.i++) {
                    this.random_string += this.chars.charAt(Math.floor(Math.random() * this.chars.length));
                }
                for (this.i = 0; this.i < this.random_string.length; this.i++) {
                    this.random_string_view += this.random_string[this.i];
                    this.random_string_view += " ";
                }

                return this.random_string_view;
            },
            
            buttonRefresh() {
                this.random_string = "";
                this.random_string_view = "";
                this.randomText();
            },
            saveForm: function(e) {
                e.preventDefault();
                this.errors = [];

                console.log(this.confirm_random_text);
                console.log(this.random_string);


                this.disableButton = true;

               axios
                .post('https://ad1ms2newdev.adira.co.id/api/ilinksys/insert_employee_overtime', {
                  P_NIK: this.tnik,
                  P_EMPLOYEENAME: this.temployeename,
                  P_OVERTIMEDATESTART: this.tovertimestart,
                  P_OVERTIMEDATEEND: this.tovertimeend,
                  P_ID_TIMESTART: this.tidtimestart,
                  P_ID_TIMEEND: this.tidtimeend,
                  p_Remark: this.tremark,
                  p_BranchId: this.tbranchid,
                  p_UserID: this.tuserid,



                })
                .then(response => {
                    if (response.data.result) {
                        this.$swal({
                            icon: 'success',
                            title: 'Save',
                            text: 'You successfully save this data'
                        })
                        .then(() => {
                            this.$router.push('/management-user')
                        })
                    } else {
                        this.$swal('Cancelled', 'Job has been added', 'info')
                    }
                })

            }
        }
    }
</script>
<script>
import Navbar from "@/components/Navbar.vue";
import Sidebar from "@/components/Sidebar.vue";
import Footer from "@/components/Footer.vue";
export default {
  name: "ManajemenForm",
  components: {
    Navbar,
    Sidebar,
    Footer,
  },
};
</script>