<template>
  <!-- Wrapper -->
  <div id="wrapper">
    <!-- Navbar -->
    <Navbar />
    <!-- End Navbar -->

    <!-- Left Sidebar -->
    <Sidebar />
    <!-- End Left Sidebar -->

    <!-- Main -->
    <div class="main">
      <!-- Main Content -->
      <div class="main-content">
        <div class="container-fluid">
          <h3 class="page-title">Employee Form</h3>

          <div class="row">
            <div class="panel panel-headline">
              <div class="panel-heading">
                <h3 class="panel-title">Employee Zona</h3>
              </div>

              <div class="panel-body">
                <form v-on:submit="saveForm">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-12">
                            <table
                              id="dtBasicExample"
                              class="table table-striped"
                              cellspacing="0"
                              width="100%"
                            >
                              <thead>
                                <tr>
                                  <th class="th-sm">NIK</th>
                                  <th class="th-sm">jateng OK</th>
                                  <th class="th-sm">jateng 2a</th>
                                  <th class="th-sm">jateng 31</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>10083132 Teguh Fathur Rahman</td>
                                  <td>
                                    <input type="checkbox" />
                                  </td>
                                  <td>
                                    <input type="checkbox" />
                                  </td>
                                  <td>
                                    <input type="checkbox" />
                                  </td>
                                </tr>
                                <tr>
                                  <td>10083132 Teguh Fathur Rahman</td>
                                  <td>
                                    <input type="checkbox" />
                                  </td>
                                  <td>
                                    <input type="checkbox" />
                                  </td>
                                  <td>
                                    <input type="checkbox" />
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-success btn-sm pull-right">
                    <i class="fa fa-save"></i>
                    Simpan
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Main Content -->
    </div>
    <!-- End Main Content -->

    <div class="clearfix"></div>

    <!-- Footer -->
    <Footer />
    <!-- End Footer -->
  </div>
  <!-- End Wrapper -->
</template>
<script>
	import axios from "axios";

    export default {
        name: 'Holiday Branch',
        data () {
            return {
                email: '',
                password: '',
                disableButton: false,
                confirm_random_text: '',
                random_string_view: '',
                random_string: '',
                chars: '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ',
                i: 0,
                // theUrl: '',
                // captcha: [],
                // index: '',
                // canv: '',
                // ctx: '',
                // code: '',
                errors: []
            }
        },
        created() {
            this.randomText();
            // this.createCaptcha();
        },
        methods: {
            randomText() {
                for(this.i = 0; this.i < 8; this.i++) {
                    this.random_string += this.chars.charAt(Math.floor(Math.random() * this.chars.length));
                }
                for (this.i = 0; this.i < this.random_string.length; this.i++) {
                    this.random_string_view += this.random_string[this.i];
                    this.random_string_view += " ";
                }

                return this.random_string_view;
            },
            
            buttonRefresh() {
                this.random_string = "";
                this.random_string_view = "";
                this.randomText();
            },
            saveForm: function(e) {
                e.preventDefault();
                this.errors = [];

                console.log(this.confirm_random_text);
                console.log(this.random_string);


                this.disableButton = true;

               axios
                .post('https://ad1ms2newdev.adira.co.id/api/ilinksys/zonainsert', {
                  p_ZonaName: this.tzonaname,
                  p_ID_TimeTrafic: this.idtimetraffic,
                  p_ID_TimeSurvey: this.idtimesurvey,
                  p_BranchID : this.tbranchid,
                  p_Remark: this.tremark,
                  p_IsActive: "1",
                  p_ZipCode: this.tzipcode,
                  p_Kelurahan: this.tkelurahanname,
                  p_KelurahanID: this.tKelurahanID,
                  p_UserID: this.tUserID

                })
                .then(response => {
                    if (response.data.result) {
                        this.$swal({
                            icon: 'success',
                            title: 'Save',
                            text: 'You successfully save this data'
                        })
                        .then(() => {
                            this.$router.push('/management-user')
                        })
                    } else {
                        this.$swal('Cancelled', 'Job has been added', 'info')
                    }
                })

            }
        }
    }
</script>
<script>
import Navbar from "@/components/Navbar.vue";
import Sidebar from "@/components/Sidebar.vue";
import Footer from "@/components/Footer.vue";
export default {
  name: "ManajemenForm",
  components: {
    Navbar,
    Sidebar,
    Footer,
  },
};
</script>