<template>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <router-link to="/" name="home" id="home">
                <img src="assets/img/logo-adira.png" alt="Adira Logo" class="img-responsive logo">
            </router-link>
        </div>
        <div class="container-fluid">
            <div class="navbar-btn">
                <button type="button" class="btn-toggle-fullwidth">
                    <i class="lnr lnr-arrow-left-circle"></i>
                </button>
            </div>
            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="assets/img/avatar-fix.png" class="img-circle" alt="Avatar">
                            <span>{{ username }}</span>
                            <i class="icon-submenu lnr lnr-chevron-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- <li>
                                <a href="#">
                                    <i class="lnr lnr-cog"></i>
                                    <span>Settings</span>
                                </a>
                            </li> -->
                            <li>
                                <a href="/" @click="logout">
                                    <i class="lnr lnr-exit"></i>
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        name: 'Navbar',
        data() {
            return {
                username: '',
            }
        },
        created() {
            this.loadDataUserLogin();
        },
        methods: {
            loadDataUserLogin() {
                this.username = localStorage.username;
            },
            logout() {
                localStorage.removeItem('user_id');
                localStorage.removeItem('username');
                localStorage.removeItem('email');
            }
        }
    }
</script>