<template>
  <div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
      <nav>
        <ul class="nav">
          <li>
            <router-link to="/dashboard" class name="dashboard" id="dashboard">
              <i class="lnr lnr-home"></i>
              <span>Dashboard</span>
            </router-link>
          </li>
          <li>
            <router-link to="/management-user" class name="management-user" id="management-user">
              <i class="lnr lnr-user"></i>
              <span>Management User</span>
            </router-link>
          </li>
          <li>
            <router-link
              to="/management-parameter"
              class
              name="management-parameter"
              id="management-parameter"
            >
              <i class="lnr lnr-select"></i>
              <span>Management Parameter</span>
            </router-link>
          </li>
          <li>
            <a href="#subPages" data-toggle="collapse" class="collapsed" aria-expanded="false">
              <i class="lnr lnr-select"></i>
              <span>Management Form</span>
              <i class="icon-submenu lnr lnr-chevron-left"></i>
            </a>
            <div id="subPages" class="collapse" aria-expanded="false" style>
              <ul class="nav">
                <li>
                  <router-link
                    to="/dedup-individu"
                    class
                    name="dedup-individu"
                    id="dedup-individu"
                  >Dedup (Individu)</router-link>
                </li>
                <li>
                  <router-link
                    to="/dedup-company"
                    class
                    name="dedup-company"
                    id="dedup-company"
                  >Dedup (Company)</router-link>
                </li>
                <li>
                  <router-link
                    to="/form-m-individu"
                    class
                    name="form-m-individu"
                    id="form-m-individu"
                  >Form M Individu</router-link>
                </li>
                <li>
                  <router-link
                    to="/form-m-company"
                    class
                    name="form-m-company"
                    id="form-m-company"
                  >Form M Company</router-link>
                </li>
                <li>
                  <router-link
                    to="/form-reguler-survey"
                    class
                    name="form-reguler-survey"
                    id="form-reguler-survey"
                  >Form Reguler Survey</router-link>
                </li>
                <li>
                  <router-link
                    to="/form-pac-ia-aos"
                    class
                    name="form-pac-ia-aos"
                    id="form-pac-ia-aos"
                  >Form PAC IA AOS</router-link>
                </li>
                <li>
                  <router-link
                    to="/form-pac-nds"
                    class
                    name="form-pac-nds"
                    id="form-pac-nds"
                  >Form PAC NDS</router-link>
                </li>
                <!-- <li>
                                    <router-link to="/form-app" class="" name="form-app" id="form-app">
                                        Form App
                                    </router-link>
                </li>-->
                <li>
                  <router-link to="/form-ia" class name="form-ia" id="form-ia">Form IA</router-link>
                </li>
                <li>
                  <router-link to="/form-aos" class name="form-aos" id="form-aos">Form AOS</router-link>
                </li>
                <!-- <li>
                                    <router-link to="/form-survey" class="" name="form-survey" id="form-survey">
                                        Form Survey
                                    </router-link>
                </li>-->
              </ul>
            </div>
          </li>
          <li>
            <router-link to="/ilinksys-form" class name="ilinksys" id="ilinksys">
              <i class="lnr lnr-select"></i>
              <span>Ilinksys</span>
            </router-link>
          </li>
          <li>
            <router-link to="/ibooking-form" class name="ibooking" id="ibooking">
              <i class="lnr lnr-select"></i>
              <span>Ibooking</span>
            </router-link>
          </li>
          <li>
            <a
              href="#subPagesemployee"
              data-toggle="collapse"
              class="collapsed"
              aria-expanded="false"
            >
              <i class="lnr lnr-select"></i>
              <span>Management Employee</span>
              <i class="icon-submenu lnr lnr-chevron-left"></i>
            </a>
            <div id="subPagesemployee" class="collapse" aria-expanded="false" style>
              <ul class="nav">
                <li>
                  <router-link
                    to="/form-mapping-employee"
                    class
                    name="mapping-employee"
                    id="mapping-employee"
                  >Mapping Employee</router-link>
                </li>
                <li>
                  <router-link
                    to="/form-dedicated-employee"
                    class
                    name="dedicated-employee"
                    id="dedicated-employee"
                  >Dedicated Employee</router-link>
                </li>
                <li>
                  <router-link
                    to="/form-employee-zona"
                    class
                    name="employee-zona"
                    id="employee-zona"
                  >Employee Zona</router-link>
                </li>
                <li>
                  <router-link
                    to="/form-employee-overtime"
                    class
                    name="employee-overtime"
                    id="employee-overtime"
                  >Employee Overtime</router-link>
                </li>
                <li>
                  <router-link
                    to="/form-employee-offwork"
                    class
                    name="employee-offwork"
                    id="employee-offwork"
                  >Employee Offwork</router-link>
                </li>
                <li>
                  <router-link
                    to="/form-holiday-branch"
                    class
                    name="holiday-branch"
                    id="holiday-branch"
                  >Holiday Branch</router-link>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</template>

<script>
export default {
  name: "Sidebar",
};
</script>