<template>
  <!-- Wrapper -->
  <div id="wrapper">
    <!-- Navbar -->
    <Navbar />
    <!-- End Navbar -->

    <!-- Left Sidebar -->
    <Sidebar />
    <!-- End Left Sidebar -->

    <!-- Main -->
    <div class="main">
      <!-- Main Content -->
      <div class="main-content">
        <div class="container-fluid">
          <h3 class="page-title">Ilinksys Form</h3>
          <div class="row">
            <div class="panel panel-headline">
              <div class="panel-heading">
                <h3 class="panel-title">Zona Branch</h3>
              </div>

              <div class="panel-body">
                <form v-on:submit="saveForm">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-3">
                            <label class="control-label">
                              Zona
                              <span class="red-note">*</span>
                            </label>
                          </div>
                          <div class="col-md-9">
                            <input
                              type="text"
                              class="form-control"
                              v-model="tzona"
                              placeholder="Input zona here..."
                            />
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-3">
                            <label class="control-label">
                              Time Survey
                              <span class="red-note">*</span>
                            </label>
                          </div>
                          <div class="col-md-9">
                            <input
                              type="text"
                              class="form-control"
                              v-model="ttime_survey"
                              placeholder="Input time survey here..."
                            />
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-3">
                            <label class="control-label">
                              Time Traffic
                              <span class="red-note">*</span>
                            </label>
                          </div>
                          <div class="col-md-9">
                            <input
                              type="text"
                              class="form-control"
                              v-model="ttime_traffic"
                              placeholder="Input time traffic here..."
                            />
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-3">
                            <label class="control-label">
                              Remark
                              <span class="red-note">*</span>
                            </label>
                          </div>
                          <div class="col-md-9">
                            <input
                              type="text"
                              class="form-control"
                              v-model="tremark"
                              placeholder="Input remark here..."
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-success btn-sm pull-right">
                    <i class="fa fa-save"></i>
                    Cari
                  </button>
                </form>
              </div>
            </div>
          </div>
          <!-- End Main Content -->
        </div>
      </div>
    </div>

    <!-- End Main Content -->

    <div class="clearfix"></div>

    <!-- Footer -->
    <Footer />
    <!-- End Footer -->
  </div>
  <!-- End Wrapper -->
</template>

<script>
import Navbar from "@/components/Navbar.vue";
import Sidebar from "@/components/Sidebar.vue";
import Footer from "@/components/Footer.vue";

export default {
  name: "ManajemenForm",
  components: {
    Navbar,
    Sidebar,
    Footer,
  },
};
</script>