<template>
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Navbar -->
        <Navbar />
        <!-- End Navbar -->

        <!-- Left Sidebar -->
        <Sidebar />
        <!-- End Left Sidebar -->

        <!-- Main -->
        <div class="main">

            <!-- Main Content -->
            <div class="main-content">
                <div class="container-fluid">
                    <h3 class="page-title">Management Parameter</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-headline">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Edit Parameter</h3>
                                    <router-link to="/management-parameter" class="btn btn-secondary btn-sm pull-right">
                                        <i class="fa fa-arrow-left"></i>
                                        Back
                                    </router-link>
                                </div>
                                <div class="panel-body">
                                    <div v-cloak v-show="errors.length > 0" class="alert alert-danger alert-dismissible" role="alert">
                                        <button @click="errors = []" type="button" class="close" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>

                                        <strong>Data tidak lengkap!</strong> mohon isi data-data berikut.
                                        <br>
                                        <ul style="margin: 0;">
                                            <li v-html="error" v-for="error in errors" :key="error"></li>
                                        </ul>
                                    </div>
                                    <form v-on:submit="saveForm">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="control-label">
                                                            Parameter Name<span class="red-note">*</span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" v-model="parameter_name" placeholder="Input parameter name here...">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="control-label">
                                                            Value<span class="red-note">*</span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" v-model="parameter_value" placeholder="Input value here...">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success btn-sm pull-right">
                                        <i class="fa fa-save"></i>
                                        Submit
                                    </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Main Content -->

        </div>
        <!-- End Main -->

        <div class="clearfix"></div>

        <!-- Footer -->
        <Footer />
        <!-- End Footer -->

    </div>
    <!-- End Wrapper -->
</template>

<script>
    import Navbar from "@/components/Navbar.vue";
    import Sidebar from "@/components/Sidebar.vue";
    import Footer from "@/components/Footer.vue";
    import axios from "axios";

    export default {
        name: 'EditParameter',
        components: {
            Navbar,
            Sidebar,
            Footer
        },
        data () {
            return {
                user_id: '',
                parameter_name: '',
                parameter_value: '',
                errors: []
            }
        },
        created() {
            this.loadDataUserLogin();

            this.loadData();
        },
        mounted () {
            //
        },
        methods: {
            loadDataUserLogin() {
                this.user_id = localStorage.user_id;
            },
            loadData() {
                // load data berdasarkan id
                axios
                .get('http://localhost:82/ad1ms2_backend/public/api/paraEdit/' + this.$route.params.id)
                .then(response => {
                    // post value yang dari response ke form
                    this.parameter_name = response.data.model.parameter_name;
                    this.parameter_value = response.data.model.parameter_value;
                })
                // .catch(err => )
            },
            saveForm(e) {
                e.preventDefault();
                this.errors = [];

                if (this.parameter_name == '') {
                    this.errors.push('Parameter Name required.');
                }
                if (this.parameter_value == '') {
                    this.errors.push('Value required.');
                }
                if(this.errors.length > 0) {
                    console.log(this.errors);
                    return;
                }

                axios
                .post('http://localhost:82/ad1ms2_backend/public/api/paraUpdate/' + this.$route.params.id, {
                    user_id: this.user_id,
                    parameter_name: this.parameter_name,
                    parameter_value: this.parameter_value,
                })
                .then(() => {
                    this.$swal({
                        icon: 'success',
                        title: 'Save',
                        text: 'You successfully updated this data'
                    })
                    .then(() => {
                        this.$router.push('/management-parameter')
                    })
                })
                // .then(response => (this.info = response))
            }
        }
    }
</script>