<template>
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Navbar -->
        <Navbar />
        <!-- End Navbar -->

        <!-- Left Sidebar -->
        <Sidebar />
        <!-- End Left Sidebar -->

        <!-- Main -->
        <div class="main">

            <!-- Main Content -->
            <div class="main-content">
                <div class="container-fluid">
                    <h3 class="page-title">Management Parameter</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-headline">
                                <div class="panel-heading">
                                    <h3 class="panel-title">List Parameter</h3>
                                    <router-link to="/add-parameter" class="btn btn-success btn-sm pull-right">
                                        <i class="fa fa-plus"></i>
                                        Add Parameter
                                    </router-link>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Name</th>
                                                <th>Value</th>
                                                <th class="text-right">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="parameter in parameters" :key="parameter.parameter_id">
                                                <td>{{ parameter.parameter_id }}</td>
                                                <td>{{ parameter.parameter_name }}</td>
                                                <td>{{ parameter.parameter_value }}</td>
                                                <td class="actions">
                                                    <router-link :to="'/edit-parameter/'+ parameter.parameter_id" class="btn btn-warning btn-sm">
                                                        <i class="fa fa-edit"></i>
                                                    </router-link>
                                                    <button class="btn btn-danger btn-sm" v-on:click="deleteData(parameter.parameter_id)">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Main Content -->

        </div>
        <!-- End Main -->

        <div class="clearfix"></div>

        <!-- Footer -->
        <Footer />
        <!-- End Footer -->

    </div>
    <!-- End Wrapper -->
</template>

<script>
    import Navbar from "@/components/Navbar.vue";
    import Sidebar from "@/components/Sidebar.vue";
    import Footer from "@/components/Footer.vue";
    import axios from "axios";

    export default {
        name: 'ManagementParameter',
        components: {
            Navbar,
            Sidebar,
            Footer
        },
        data() {
            return {
                parameters: []
            }
        },
        created() {
            this.loadData();
        },
        mounted() {
           //
        },
        methods: {
            loadData() {
                axios
                .get('http://localhost:82/ad1ms2_backend/public/api/paraIndex')
                .then(response => this.parameters = response.data.model)
            },
            deleteData(id) {
                this.$swal({
                    icon: 'warning',
                    title: 'Are you sure to delete?',
                    text: 'You can\'t revert your action',
                    showCancelButton: true,
                    confirmButtonText: 'Yes Delete it!',
                    cancelButtonText: 'No, Keep it!',
                    showCloseButton: true,
                    showLoaderOnConfirm: true
                }).then((result) => {
                    if(result.value) {
                        axios
                        .delete('http://localhost:82/ad1ms2_backend/public/api/paraDestroy/' + id)
                        .then(() => (
                            this.$swal({
                                icon: 'success',
                                title: 'Deleted',
                                text: 'You successfully deleted this data'
                            })
                            .then(() => {
                                this.loadData()
                            })
                        ))
                    } else {
                        this.$swal('Cancelled', 'You cancelled deleted this data', 'info')
                    }
                });
            }
        }
    }
</script>