<template>
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Navbar -->
        <Navbar />
        <!-- End Navbar -->

        <!-- Left Sidebar -->
        <Sidebar />
        <!-- End Left Sidebar -->

        <!-- Main -->
        <div class="main">

            <!-- Main Content -->
            <div class="main-content">
                <div class="container-fluid">
                    <h3 class="page-title">Dedup (Individu)</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-headline">
                                <div class="panel-heading">
                                    <div class="panel-heading">
                                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                            <li class="nav-item active" role="presentation">
                                                <a class="nav-link" id="hide-show-tab" data-toggle="pill" href="#hide-show" role="tab" aria-controls="hide-show" aria-selected="true">
                                                    Hide - Show
                                                </a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="mandatory-tab" data-toggle="pill" href="#mandatory" role="tab" aria-controls="mandatory" aria-selected="true">
                                                    Mandatory - Non Mandatory
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade active in" id="hide-show" role="tabpanel" aria-labelledby="hide-show-tab">
                                            <form v-on:submit="saveFormHideShow">
                                                <div class="panel-group" id="m-tab" role="tablist" aria-multiselectable="true">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="headingOne">
                                                            <h4 class="panel-title">
                                                                <a role="button" data-toggle="collapse" data-parent="#m-tab"
                                                                    href="#dedup-individu-1" aria-expanded="true"
                                                                    aria-controls="dedup-individu-1">
                                                                    Dedup
                                                                </a>
                                                            </h4>
                                                            <!-- <router-link to="/add-field" class="btn btn-primary btn-sm pull-right">
                                                                <i class="fa fa-plus"></i>
                                                                Add Field
                                                            </router-link> -->
                                                        </div>
                                                        <div id="dedup-individu-1" class="panel-collapse collapse"
                                                            role="tabpanel" aria-labelledby="headingOne">
                                                            <div class="panel-body">
                                                                <div class="col-md-6">
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox" class="switch switch-bootstrap status" v-model="no_identitas_hs">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    No Identitas <small>(Text Box)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox" class="switch switch-bootstrap status" v-model="nama_lengkap_hs">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    Nama Lengkap <small>(Text Box)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox" class="switch switch-bootstrap status" v-model="tanggal_lahir_hs">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    Tanggal Lahir <small>(Date Pitcher List)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox" class="switch switch-bootstrap status" v-model="tempat_lahir_identitas_hs">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    Tempat Lahir Sesuai Identitas <small>(Text
                                                                                        Box)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox" class="switch switch-bootstrap status" v-model="nama_gadis_ibu_kandung_hs">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    Nama Gadis Ibu Kandung <small>(Text Box)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox" class="switch switch-bootstrap status" v-model="alamat_identitas_hs">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    Alamat Identitas <small>(Text Box)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-success btn-sm pull-right">
                                                    <i class="fa fa-save"></i>
                                                    Simpan
                                                </button>
                                            </form>
                                        </div>
                                        <div class="tab-pane fade" id="mandatory" role="tabpanel"
                                            aria-labelledby="mandatory-tab">
                                            <form v-on:submit="saveFormMandatory">
                                                <div class="panel-group" id="m-tab-2" role="tablist"
                                                    aria-multiselectable="true">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="headingOne">
                                                            <h4 class="panel-title">
                                                                <a role="button" data-toggle="collapse" data-parent="#m-tab-2"
                                                                    href="#dedup-individu-2" aria-expanded="true"
                                                                    aria-controls="dedup-individu-2">
                                                                    Dedup
                                                                </a>
                                                            </h4>
                                                            <!-- <router-link to="/add-field" class="btn btn-primary btn-sm pull-right">
                                                                <i class="fa fa-plus"></i>
                                                                Add Field
                                                            </router-link> -->
                                                        </div>
                                                        <div id="dedup-individu-2" class="panel-collapse collapse"
                                                            role="tabpanel" aria-labelledby="headingOne">
                                                            <div class="panel-body">
                                                                <div class="col-md-6">
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox" class="switch switch-bootstrap status" v-model="no_identitas_mandatory">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    No Identitas <small>(Text Box)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox" class="switch switch-bootstrap status" v-model="nama_lengkap_mandatory">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    Nama Lengkap <small>(Text Box)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox" class="switch switch-bootstrap status" v-model="tanggal_lahir_mandatory">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    Tanggal Lahir <small>(Date Pitcher List)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox" class="switch switch-bootstrap status" v-model="tempat_lahir_identitas_mandatory">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    Tempat Lahir Sesuai Identitas <small>(Text
                                                                                        Box)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox" class="switch switch-bootstrap status" v-model="nama_gadis_ibu_kandung_mandatory">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    Nama Gadis Ibu Kandung <small>(Text Box)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox" class="switch switch-bootstrap status" v-model="alamat_identitas_mandatory">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    Alamat Identitas <small>(Text Box)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-success btn-sm pull-right">
                                                    <i class="fa fa-save"></i>
                                                    Simpan
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Main Content -->

        </div>
        <!-- End Main -->

        <div class="clearfix"></div>

        <!-- Footer -->
        <Footer />
        <!-- End Footer -->

    </div>
    <!-- End Wrapper -->
</template>

<script>
    import Navbar from "@/components/Navbar.vue";
    import Sidebar from "@/components/Sidebar.vue";
    import Footer from "@/components/Footer.vue";
    import axios from "axios";

    export default {
        name: 'DedupIndividu',
        components: {
            Navbar,
            Sidebar,
            Footer
        },
        data () {
            return {
                type_form_hs: 'Hide Show',
                type_form_mandatory: 'Mandatory',
                user_id: '',

                // hide show
                no_identitas_hs: false,
                nama_lengkap_hs: false,
                tanggal_lahir_hs: false,
                tempat_lahir_identitas_hs: false,
                nama_gadis_ibu_kandung_hs: false,
                alamat_identitas_hs: false,

                // mandatory
                no_identitas_mandatory: false,
                nama_lengkap_mandatory: false,
                tanggal_lahir_mandatory: false,
                tempat_lahir_identitas_mandatory: false,
                nama_gadis_ibu_kandung_mandatory: false,
                alamat_identitas_mandatory: false
            }
        },
        created() {
            this.loadDataUserLogin();

            this.loadDataHideShow();
            this.loadDataMandatory();
        },
        mounted () {
            //
        },
        methods: {
            loadDataUserLogin() {
                this.user_id = localStorage.user_id;
            },
            loadDataHideShow() {
                axios
                .get('http://localhost:82/ad1ms2_backend/public/api/paraDedupIndividuHideShowIndex')
                .then(response => {
                    if (response.data.result) {
                        this.no_identitas_hs = response.data.model.no_identitas == '1' ? true : false,
                        this.nama_lengkap_hs = response.data.model.nama_lengkap == '1' ? true : false,
                        this.tanggal_lahir_hs = response.data.model.tanggal_lahir == '1' ? true : false,
                        this.tempat_lahir_identitas_hs = response.data.model.tempat_lahir_identitas == '1' ? true : false,
                        this.nama_gadis_ibu_kandung_hs = response.data.model.nama_gadis_ibu_kandung == '1' ? true : false,
                        this.alamat_identitas_hs = response.data.model.alamat_identitas == '1' ? true : false
                    }
                })
            },
            loadDataMandatory() {
                axios
                .get('http://localhost:82/ad1ms2_backend/public/api/paraDedupIndividuMandatoryIndex')
                .then(response => {
                    if (response.data.result) {
                        this.no_identitas_mandatory = response.data.model.no_identitas == '1' ? true : false,
                        this.nama_lengkap_mandatory = response.data.model.nama_lengkap == '1' ? true : false,
                        this.tanggal_lahir_mandatory = response.data.model.tanggal_lahir == '1' ? true : false,
                        this.tempat_lahir_identitas_mandatory = response.data.model.tempat_lahir_identitas == '1' ? true : false,
                        this.nama_gadis_ibu_kandung_mandatory = response.data.model.nama_gadis_ibu_kandung == '1' ? true : false,
                        this.alamat_identitas_mandatory = response.data.model.alamat_identitas == '1' ? true : false
                    }
                })
            },
            saveFormHideShow(e) {
                e.preventDefault();
                this.errors = [];
                
                axios
                .post('http://localhost:82/ad1ms2_backend/public/api/paraDedupIndividuHideShowStore', {
                    type_form: this.type_form_hs,
                    user_id: this.user_id,
                    no_identitas: this.no_identitas_hs,
                    nama_lengkap: this.nama_lengkap_hs,
                    tanggal_lahir: this.tanggal_lahir_hs,
                    tempat_lahir_identitas: this.tempat_lahir_identitas_hs,
                    nama_gadis_ibu_kandung: this.nama_gadis_ibu_kandung_hs,
                    alamat_identitas: this.alamat_identitas_hs,
                })
                .then(() => {
                    this.$swal({
                        icon: 'success',
                        title: 'Save',
                        text: 'You successfully save this data'
                    })
                    .then(() => {
                        this.$router.push('/dedup-individu')
                    })
                })
                .then(response => (this.info = response))
            },
            saveFormMandatory(e) {
                e.preventDefault();
                this.errors = [];

                axios
                .post('http://localhost:82/ad1ms2_backend/public/api/paraDedupIndividuMandatoryStore', {
                    type_form: this.type_form_mandatory,
                    user_id: this.user_id,
                    no_identitas: this.no_identitas_mandatory,
                    nama_lengkap: this.nama_lengkap_mandatory,
                    tanggal_lahir: this.tanggal_lahir_mandatory,
                    tempat_lahir_identitas: this.tempat_lahir_identitas_mandatory,
                    nama_gadis_ibu_kandung: this.nama_gadis_ibu_kandung_mandatory,
                    alamat_identitas: this.alamat_identitas_mandatory,
                })
                .then(() => {
                    this.$swal({
                        icon: 'success',
                        title: 'Save',
                        text: 'You successfully save this data'
                    })
                    .then(() => {
                        this.$router.push('/dedup-individu')
                    })
                })
                .then(response => (this.info = response))
            }
        }
    }
</script>