<template>
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Navbar -->
        <Navbar />
        <!-- End Navbar -->

        <!-- Left Sidebar -->
        <Sidebar />
        <!-- End Left Sidebar -->

        <!-- Main -->
        <div class="main">

            <!-- Main Content -->
            <div class="main-content">
                <div class="container-fluid">
                    <h3 class="page-title">Dedup (Company)</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-headline">
                                <div class="panel-heading">
                                    <div class="panel-heading">
                                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                            <li class="nav-item active" role="presentation">
                                                <a class="nav-link" id="hide-show-tab" data-toggle="pill" href="#hide-show" role="tab" aria-controls="hide-show" aria-selected="true">
                                                    Hide - Show
                                                </a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="mandatory-tab" data-toggle="pill" href="#mandatory" role="tab" aria-controls="mandatory" aria-selected="true">
                                                    Mandatory - Non Mandatory
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade active in" id="hide-show" role="tabpanel" aria-labelledby="hide-show-tab">
                                            <form v-on:submit="saveFormHideShow">
                                                <div class="panel-group" id="m-tab" role="tablist" aria-multiselectable="true">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="headingOne">
                                                            <h4 class="panel-title">
                                                                <a role="button" data-toggle="collapse" data-parent="#m-tab"
                                                                    href="#dedup-individu-1" aria-expanded="true"
                                                                    aria-controls="dedup-individu-1">
                                                                    Dedup
                                                                </a>
                                                            </h4>
                                                            <!-- <router-link to="/add-field" class="btn btn-primary btn-sm pull-right">
                                                                <i class="fa fa-plus"></i>
                                                                Add Field
                                                            </router-link> -->
                                                        </div>
                                                        <div id="dedup-individu-1" class="panel-collapse collapse"
                                                            role="tabpanel" aria-labelledby="headingOne">
                                                            <div class="panel-body">
                                                                <div class="col-md-6">
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox" class="switch switch-bootstrap status"
                                                                                    v-model="nama_lembaga_hide_show">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    Nama Lembaga <small>(Text Box)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox" class="switch switch-bootstrap status" v-model="npwp_hide_show">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    NPWP <small>(Text Box)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox" class="switch switch-bootstrap status" v-model="alamat_npwp_hide_show">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    Alamat NPWP <small>(Date Pitcher List)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox" class="switch switch-bootstrap status" v-model="tanggal_pendirian_hide_show">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    Tanggal Pendirian <small>(Text
                                                                                        Box)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-success btn-sm pull-right">
                                                    <i class="fa fa-save"></i>
                                                    Simpan
                                                </button>
                                            </form>
                                        </div>
                                        <div class="tab-pane fade" id="mandatory" role="tabpanel"
                                            aria-labelledby="mandatory-tab">
                                            <form v-on:submit="saveFormMandatory">
                                                <div class="panel-group" id="m-tab-2" role="tablist"
                                                    aria-multiselectable="true">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="headingOne">
                                                            <h4 class="panel-title">
                                                                <a role="button" data-toggle="collapse" data-parent="#m-tab-2"
                                                                    href="#dedup-individu-2" aria-expanded="true"
                                                                    aria-controls="dedup-individu-2">
                                                                    Dedup
                                                                </a>
                                                            </h4>
                                                            <!-- <router-link to="/add-field" class="btn btn-primary btn-sm pull-right">
                                                                <i class="fa fa-plus"></i>
                                                                Add Field
                                                            </router-link> -->
                                                        </div>
                                                        <div id="dedup-individu-2" class="panel-collapse collapse"
                                                            role="tabpanel" aria-labelledby="headingOne">
                                                            <div class="panel-body">
                                                                <div class="col-md-6">
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox" class="switch switch-bootstrap status" v-model="nama_lembaga_mandatory">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    Nama Lembaga <small>(Text Box)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox" class="switch switch-bootstrap status" v-model="npwp_mandatory">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    NPWP <small>(Text Box)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox" class="switch switch-bootstrap status" v-model="alamat_npwp_mandatory">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    Alamat NPWP <small>(Date Pitcher List)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox" class="switch switch-bootstrap status" v-model="tanggal_pendirian_mandatory">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    Tanggal Pendirian <small>(Text Box)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-success btn-sm pull-right">
                                                    <i class="fa fa-save"></i>
                                                    Simpan
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Main Content -->

        </div>
        <!-- End Main -->

        <div class="clearfix"></div>

        <!-- Footer -->
        <Footer />
        <!-- End Footer -->

    </div>
    <!-- End Wrapper -->
</template>

<script>
    import Navbar from "@/components/Navbar.vue";
    import Sidebar from "@/components/Sidebar.vue";
    import Footer from "@/components/Footer.vue";
    import axios from "axios";

    export default {
        name: 'DedupCompany',
        components: {
            Navbar,
            Sidebar,
            Footer
        },
        data() {
            return {
                type_form_hs: 'Hide Show',
                type_form_mandatory: 'Mandatory',
                user_id: '',

                // hide show
                nama_lembaga_hide_show: false,
                npwp_hide_show: false,
                alamat_npwp_hide_show: false,
                tanggal_pendirian_hide_show: false,

                // mandatory
                nama_lembaga_mandatory: false,
                npwp_mandatory: false,
                alamat_npwp_mandatory: false,
                tanggal_pendirian_mandatory: false
            }
        },
        created() {
            this.loadDataUserLogin();

            this.loadDataHideShow();
            this.loadDataMandatory();
        },
        mounted() {
            //
        },
        methods: {
            loadDataUserLogin() {
                this.user_id = localStorage.user_id;
            },
            loadDataHideShow() {
                axios
                .get('http://localhost:82/ad1ms2_backend/public/api/paraDedupCompanyHideShowIndex')
                .then(response => {
                    if (response.data.result) {
                        this.nama_lembaga_hide_show = response.data.model.nama_lembaga == '1' ? true : false,
                        this.npwp_hide_show = response.data.model.npwp == '1' ? true : false,
                        this.alamat_npwp_hide_show = response.data.model.alamat_npwp == '1' ? true : false,
                        this.tanggal_pendirian_hide_show = response.data.model.tanggal_pendirian == '1' ? true : false
                    }
                })
            },
            loadDataMandatory() {
                axios
                .get('http://localhost:82/ad1ms2_backend/public/api/paraDedupCompanyMandatoryIndex')
                .then(response => {
                    if (response.data.result) {
                        this.nama_lembaga_mandatory = response.data.model.nama_lembaga == '1' ? true : false,
                        this.npwp_mandatory = response.data.model.npwp == '1' ? true : false,
                        this.alamat_npwp_mandatory = response.data.model.alamat_npwp == '1' ? true : false,
                        this.tanggal_pendirian_mandatory = response.data.model.tanggal_pendirian == '1' ? true : false
                    }
                })
            },
            saveFormHideShow(e) {
                e.preventDefault();
                this.errors = [];

                axios
                .post('http://localhost:82/ad1ms2_backend/public/api/paraDedupCompanyHideShowStore', {
                    type_form: this.type_form_hs,
                    user_id: this.user_id,
                    nama_lembaga: this.nama_lembaga_hide_show,
                    npwp: this.npwp_hide_show,
                    alamat_npwp: this.alamat_npwp_hide_show,
                    tanggal_pendirian: this.tanggal_pendirian_hide_show
                })
                .then(() => {
                    this.$swal({
                        icon: 'success',
                        title: 'Save',
                        text: 'You successfully save this data'
                    })
                    .then(() => {
                        this.$router.push('/dedup-company')
                    })
                })
                .then(response => (this.info = response))
            },
            saveFormMandatory(e) {
                e.preventDefault();
                this.errors = [];

                axios
                .post('http://localhost:82/ad1ms2_backend/public/api/paraDedupCompanyMandatoryStore', {
                    type_form: this.type_form_mandatory,
                    user_id: this.user_id,
                    nama_lembaga: this.nama_lembaga_mandatory,
                    npwp: this.npwp_mandatory,
                    alamat_npwp: this.alamat_npwp_mandatory,
                    tanggal_pendirian: this.tanggal_pendirian_mandatory
                })
                .then(() => {
                    this.$swal({
                        icon: 'success',
                        title: 'Save',
                        text: 'You successfully save this data'
                    })
                    .then(() => {
                        this.$router.push('/dedup-company')
                    })
                })
                .then(response => (this.info = response))
            }
        }
    }
</script>