<template>
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Navbar -->
        <Navbar />
        <!-- End Navbar -->

        <!-- Left Sidebar -->
        <Sidebar />
        <!-- End Left Sidebar -->

        <!-- Main -->
        <div class="main">

            <!-- Main Content -->
            <div class="main-content">
                <div class="container-fluid">
                    <h3 class="page-title">Form IA</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-headline">
                                <div class="panel-heading">
                                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                        <li class="nav-item active" role="presentation">
                                            <a class="nav-link" id="hide-show-tab" data-toggle="pill" href="#hide-show" role="tab" aria-controls="hide-show" aria-selected="true">
                                                Hide - Show
                                            </a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="enable-disable-tab" data-toggle="pill" href="#enable-disable" role="tab" aria-controls="enable-disable" aria-selected="true">
                                                Enable - Disable
                                            </a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="mandatory-tab" data-toggle="pill" href="#mandatory" role="tab" aria-controls="mandatory" aria-selected="true">
                                                Mandatory - Non Mandatory
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="panel-body">
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade active in" id="hide-show" role="tabpanel" aria-labelledby="hide-show-tab">
                                            <form v-on:submit="saveFormHideShow">
                                                <div class="panel-group" id="ia-tab" role="tablist" aria-multiselectable="true">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="headingOne">
                                                            <h4 class="panel-title">
                                                                <a role="button" data-toggle="collapse" data-parent="#ia-tab"
                                                                    href="#form-ia-1" aria-expanded="true"
                                                                    aria-controls="form-ia-1">
                                                                    Form IA
                                                                </a>
                                                            </h4>
                                                            <!-- <router-link to="/add-field" class="btn btn-primary btn-sm pull-right">
                                                                <i class="fa fa-plus"></i>
                                                                Add Field
                                                            </router-link> -->
                                                        </div>
                                                        <div id="form-ia-1" class="panel-collapse collapse"
                                                            role="tabpanel" aria-labelledby="headingOne">
                                                            <div class="panel-body">
                                                                <div class="col-md-6">
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox"
                                                                                        class="switch switch-bootstrap status"
                                                                                        v-model="nama_hs">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    Nama <small>(Text box)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox"
                                                                                        class="switch switch-bootstrap status"
                                                                                        v-model="alamat_hs">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    Alamat <small>(Text Box)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox"
                                                                                        class="switch switch-bootstrap status"
                                                                                        v-model="no_aplikasi_hs">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    No Aplikasi <small>(Text Box)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox"
                                                                                        class="switch switch-bootstrap status"
                                                                                        v-model="model_objek_hs">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    Model Objek <small>(Text Box)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox"
                                                                                        class="switch switch-bootstrap status"
                                                                                        v-model="sign_pk_hs">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    Sign PK? <small>(Radio Button)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-success btn-sm pull-right">
                                                    <i class="fa fa-save"></i>
                                                    Simpan
                                                </button>
                                            </form>
                                        </div>
                                        <div class="tab-pane fade" id="enable-disable" role="tabpanel" aria-labelledby="enable-disable-tab">
                                            <form v-on:submit="saveFormEnableDisable">
                                                <div class="panel-group" id="ia-tab-2" role="tablist" aria-multiselectable="true">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="headingOne">
                                                            <h4 class="panel-title">
                                                                <a role="button" data-toggle="collapse" data-parent="#ia-tab-2"
                                                                    href="#form-ia-2" aria-expanded="true"
                                                                    aria-controls="form-ia-2">
                                                                    Form IA
                                                                </a>
                                                            </h4>
                                                            <!-- <router-link to="/add-field" class="btn btn-primary btn-sm pull-right">
                                                                <i class="fa fa-plus"></i>
                                                                Add Field
                                                            </router-link> -->
                                                        </div>
                                                        <div id="form-ia-2" class="panel-collapse collapse"
                                                            role="tabpanel" aria-labelledby="headingOne">
                                                            <div class="panel-body">
                                                                <div class="col-md-6">
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox"
                                                                                        class="switch switch-bootstrap status"
                                                                                        v-model="nama_enable_disable">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    Nama <small>(Text box)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox"
                                                                                        class="switch switch-bootstrap status"
                                                                                        v-model="alamat_enable_disable">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    Alamat <small>(Text Box)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox"
                                                                                        class="switch switch-bootstrap status"
                                                                                        v-model="no_aplikasi_enable_disable">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    No Aplikasi <small>(Text Box)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox"
                                                                                        class="switch switch-bootstrap status"
                                                                                        v-model="model_objek_enable_disable">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    Model Objek <small>(Text Box)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox"
                                                                                        class="switch switch-bootstrap status"
                                                                                        v-model="sign_pk_enable_disable">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    Sign PK? <small>(Radio Button)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-success btn-sm pull-right">
                                                    <i class="fa fa-save"></i>
                                                    Simpan
                                                </button>
                                            </form>
                                        </div>
                                        <div class="tab-pane fade" id="mandatory" role="tabpanel"
                                            aria-labelledby="mandatory-tab">
                                            <form v-on:submit="saveFormMandatory">
                                                <div class="panel-group" id="ia-tab-3" role="tablist"
                                                    aria-multiselectable="true">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="headingOne">
                                                            <h4 class="panel-title">
                                                                <a role="button" data-toggle="collapse" data-parent="#ia-tab-3"
                                                                    href="#form-ia-3" aria-expanded="true"
                                                                    aria-controls="form-ia-3">
                                                                    Form IA
                                                                </a>
                                                            </h4>
                                                            <!-- <router-link to="/add-field" class="btn btn-primary btn-sm pull-right">
                                                                <i class="fa fa-plus"></i>
                                                                Add Field
                                                            </router-link> -->
                                                        </div>
                                                        <div id="form-ia-3" class="panel-collapse collapse"
                                                            role="tabpanel" aria-labelledby="headingOne">
                                                            <div class="panel-body">
                                                                <div class="col-md-6">
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox"
                                                                                        class="switch switch-bootstrap status"
                                                                                        v-model="nama_mandatory">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    Nama <small>(Text box)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox"
                                                                                        class="switch switch-bootstrap status"
                                                                                        v-model="alamat_mandatory">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    Alamat <small>(Text Box)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox"
                                                                                        class="switch switch-bootstrap status"
                                                                                        v-model="no_aplikasi_mandatory">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    No Aplikasi <small>(Text Box)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox"
                                                                                        class="switch switch-bootstrap status"
                                                                                        v-model="model_objek_mandatory">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    Model Objek <small>(Text Box)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <div class="switch-option">
                                                                                <label class="label-switch switch-success">
                                                                                    <input type="checkbox"
                                                                                        class="switch switch-bootstrap status"
                                                                                        v-model="sign_pk_mandatory">
                                                                                    <span class="lable"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="field-group">
                                                                                <label class="control-label">
                                                                                    Sign PK? <small>(Radio Button)</small>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-success btn-sm pull-right">
                                                    <i class="fa fa-save"></i>
                                                    Simpan
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Main Content -->

        </div>
        <!-- End Main -->

        <div class="clearfix"></div>

        <!-- Footer -->
        <Footer />
        <!-- End Footer -->

    </div>
    <!-- End Wrapper -->
</template>

<script>
    import Navbar from "@/components/Navbar.vue";
    import Sidebar from "@/components/Sidebar.vue";
    import Footer from "@/components/Footer.vue";
    import axios from "axios";

    export default {
        name: 'FormIA',
        components: {
            Navbar,
            Sidebar,
            Footer
        },
        data () {
            return {
                type_form_hs: 'Hide Show',
                type_form_enable: 'Enable Disable',
                type_form_mandatory: 'Mandatory',
                user_id: '',

                // hide show
                nama_hs: false,
                alamat_hs: false,
                no_aplikasi_hs: false,
                model_objek_hs: false,
                sign_pk_hs: false,

                // enable disable
                nama_enable_disable: false,
                alamat_enable_disable: false,
                no_aplikasi_enable_disable: false,
                model_objek_enable_disable: false,
                sign_pk_enable_disable: false,

                // mandatory
                nama_mandatory: false,
                alamat_mandatory: false,
                no_aplikasi_mandatory: false,
                model_objek_mandatory: false,
                sign_pk_mandatory: false,
            }
        },
        created() {
            this.loadDataUserLogin();

            this.loadDataHideShow();
            this.loadDataEnableDisable();
            this.loadDataMandatory();
        },
        mounted () {
            //
        },
        methods: {
            loadDataUserLogin() {
                this.user_id = localStorage.user_id;
            },
            loadDataHideShow() {
                axios
                .get('http://localhost:82/ad1ms2_backend/public/api/paraFormIAHideShowIndex')
                .then(response => {
                    if (response.data.result) {
                        this.nama_hs = response.data.model.nama == '1' ? true : false,
                        this.alamat_hs = response.data.model.alamat == '1' ? true : false,
                        this.no_aplikasi_hs = response.data.model.no_aplikasi == '1' ? true : false,
                        this.model_objek_hs = response.data.model.model_objek == '1' ? true : false,
                        this.sign_pk_hs = response.data.model.sign_pk == '1' ? true : false
                    }
                })
            },
            loadDataEnableDisable() {
                axios
                .get('http://localhost:82/ad1ms2_backend/public/api/paraFormIAEnableDisableIndex')
                .then(response => {
                    if (response.data.result) {
                        this.nama_enable_disable = response.data.model.nama == '1' ? true : false,
                        this.alamat_enable_disable = response.data.model.alamat == '1' ? true : false,
                        this.no_aplikasi_enable_disable = response.data.model.no_aplikasi == '1' ? true : false,
                        this.model_objek_enable_disable = response.data.model.model_objek == '1' ? true : false,
                        this.sign_pk_enable_disable = response.data.model.sign_pk == '1' ? true : false
                    }
                })
            },
            loadDataMandatory() {
                axios
                .get('http://localhost:82/ad1ms2_backend/public/api/paraFormIAMandatoryIndex')
                .then(response => {
                    if (response.data.result) {
                        this.nama_mandatory = response.data.model.nama == '1' ? true : false,
                        this.alamat_mandatory = response.data.model.alamat == '1' ? true : false,
                        this.no_aplikasi_mandatory = response.data.model.no_aplikasi == '1' ? true : false,
                        this.model_objek_mandatory = response.data.model.model_objek == '1' ? true : false,
                        this.sign_pk_mandatory = response.data.model.sign_pk == '1' ? true : false
                    }
                })
            },
            saveFormHideShow(e) {
                e.preventDefault();
                this.errors = [];

                axios
                .post('http://localhost:82/ad1ms2_backend/public/api/paraFormIAHideShowStore', {
                    type_form: this.type_form_hs,
                    user_id: this.user_id,
                    nama: this.nama_hs,
                    alamat: this.alamat_hs,
                    no_aplikasi: this.no_aplikasi_hs,
                    model_objek: this.model_objek_hs,
                    sign_pk: this.sign_pk_hs,
                })
                .then(() => {
                    this.$swal({
                        icon: 'success',
                        title: 'Save',
                        text: 'You successfully save this data'
                    })
                    .then(() => {
                        this.$router.push('/form-ia')
                    })
                })
                .then(response => (this.info = response))
            },
            saveFormEnableDisable(e) {
                e.preventDefault();
                this.errors = [];

                axios
                .post('http://localhost:82/ad1ms2_backend/public/api/paraFormIAEnableDisableStore', {
                    type_form: this.type_form_enable,
                    user_id: this.user_id,
                    nama: this.nama_enable_disable,
                    alamat: this.alamat_enable_disable,
                    no_aplikasi: this.no_aplikasi_enable_disable,
                    model_objek: this.model_objek_enable_disable,
                    sign_pk: this.sign_pk_enable_disable,
                })
                .then(() => {
                    this.$swal({
                        icon: 'success',
                        title: 'Save',
                        text: 'You successfully save this data'
                    })
                    .then(() => {
                        this.$router.push('/form-ia')
                    })
                })
                .then(response => (this.info = response))
            },
            saveFormMandatory(e) {
                e.preventDefault();
                this.errors = [];

                axios
                .post('http://localhost:82/ad1ms2_backend/public/api/paraFormIAMandatoryStore', {
                    type_form: this.type_form_mandatory,
                    user_id: this.user_id,
                    nama: this.nama_mandatory,
                    alamat: this.alamat_mandatory,
                    no_aplikasi: this.no_aplikasi_mandatory,
                    model_objek: this.model_objek_mandatory,
                    sign_pk: this.sign_pk_mandatory,
                })
                .then(() => {
                    this.$swal({
                        icon: 'success',
                        title: 'Save',
                        text: 'You successfully save this data'
                    })
                    .then(() => {
                        this.$router.push('/form-ia')
                    })
                })
                .then(response => (this.info = response))
            }
        }
    }
</script>